

body {
  background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(cinema.jpg);
  background-size: cover;
  background-position: center;
  height : 100vh;
  display: flex;
  justify-content: center;
  font-family: "Nunito Sans";
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
  margin: 0px;
}

.showtitle{
  font-size: 2em;
  color: #772796;
  font-family: "Volkhov";
}

h1{
  font-family: "Gravitas One";
}


#lightbox {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.7); 
  display:none;
}

#message {
    width: 80%;
    padding: 20px;
    background-color: rgba(210, 180, 222, 0.9);
    text-align: left;
    
    /* Center the message in the lightbox */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
#mainbox {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
}
#list {
  list-style-position: inside;
}

@media only screen and (max-width: 950px) {
  #mainbox {
    width: 92.5% !important;
    padding: 20px !important;
  }
} 